@import './_variables.scss';
@import './_reset.scss';
@import 'vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css';

.ASK {
  color: #1261c4;
}

.BID {
  color: #d24f45;
}

.q-btn {
  border-radius: 0 !important;
  padding: 0;
}

@media (max-width: 992px) {
  .q-btn {
    font-size: 1.1rem;
  }
}
