@import './_reset';
@import './properties';

.ASK {
  color: #1261c4;
}

.BID {
  color: #d24f45;
}

.main-layout {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.main-bg {
  background-color: $light-02;
}

.default-dialog {
  min-width: 320px;
  max-width: 500px;
  width: 100%;
}

.body--dark {
  .main-bg {
    background-color: $dark-02;
  }
}

@media (max-width: 992px) {
}
