// font

// color
$light-01: #7338ac;
$light-02: #705bfa;
$light-03: #c88efb;
$light-04: #abc0f0;
$light-05: #8674ff;

$dark-01: #b5b5b5;
$dark-02: #150930;
$dark-03: #202031;
$dark-04: #362e57;
$dark-05: #1e1e1e;
$dark-06: #151515;
$dark-07: #666666;
$dark-08: #191919;
$dark-09: #1b1b2e;

$gray-01: #a1a1a1;
$purple-01: #53389e;

$negative: #1261c4;
$positive: #d24f45;

$custom-colors: (
  'light-01': $light-01,
  'light-02': $light-02,
  'light-03': $light-03,
  'light-04': $light-04,
  'light-05': $light-05,
  'dark-01': $dark-01,
  'dark-02': $dark-02,
  'dark-03': $dark-03,
  'dark-04': $dark-04,
  'dark-05': $dark-05,
  'dark-06': $dark-06,
  'dark-07': $dark-07,
  'dark-08': $dark-08,
  'dark-09': $dark-09,
  'gray-01': $gray-01,
  'purple-01': $purple-01,
  'negative': $negative,
  'positive': $positive,
  'inherit': inherit,
);

// $base-font: 'Spoqa Han Sans Neo', 'sans-serif';

// $bg-color: $light-color-10;
// $line-color: $light-color-20;
