@mixin coin($symbol) {
  @if $symbol == 'btc' {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 37.75C29.3553 37.75 37.75 29.3553 37.75 19C37.75 8.64466 29.3553 0.25 19 0.25C8.64466 0.25 0.25 8.64466 0.25 19C0.25 29.3553 8.64466 37.75 19 37.75Z" fill="rgb(25, 25, 25)"/><path d="M27.2406 16.6797C27.6086 14.2234 25.7371 12.9027 23.1801 12.0215L24.0098 8.69336L21.9848 8.18945L21.1762 11.4297C20.6441 11.2961 20.098 11.1719 19.5531 11.0477L20.3676 7.78633L18.3426 7.28125L17.5129 10.6082C17.0723 10.5074 16.6387 10.409 16.2191 10.3035L16.2215 10.293L13.4277 9.5957L12.8887 11.759C12.8887 11.759 14.3922 12.1035 14.3605 12.1246C15.1809 12.3297 15.3285 12.8723 15.3039 13.3035L14.3594 17.0945C14.4156 17.1086 14.4883 17.1297 14.5703 17.1613L14.3559 17.1086L13.0316 22.4195C12.9309 22.668 12.6766 23.0418 12.1023 22.9C12.1234 22.9293 10.6305 22.5332 10.6305 22.5332L9.625 24.8512L12.2617 25.5086C12.7516 25.6316 13.232 25.7605 13.7043 25.8812L12.8664 29.2469L14.8902 29.7508L15.7199 26.4227C16.273 26.5715 16.8098 26.7098 17.3348 26.841L16.5074 30.1551L18.5324 30.659L19.3703 27.3004C22.825 27.9543 25.4219 27.6906 26.5152 24.5664C27.3965 22.0516 26.4719 20.5996 24.6543 19.6539C25.9785 19.3492 26.9746 18.4785 27.2406 16.6797V16.6797ZM22.6117 23.1695C21.9871 25.6855 17.7508 24.325 16.3773 23.984L17.4906 19.525C18.8641 19.8684 23.2668 20.5469 22.6117 23.1695ZM23.2387 16.6434C22.668 18.932 19.143 17.7684 18.0004 17.4836L19.0082 13.4406C20.1508 13.7254 23.834 14.2563 23.2387 16.6434Z" fill="rgb(242, 201, 76)"/></svg>');
  }
  @if $symbol == 'eth' {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 37.75C29.3553 37.75 37.75 29.3553 37.75 19C37.75 8.64466 29.3553 0.25 19 0.25C8.64466 0.25 0.25 8.64466 0.25 19C0.25 29.3553 8.64466 37.75 19 37.75Z" fill="rgb(25, 25, 25)"/><path d="M19 4.9375V15.332L27.7855 19.2578L19 4.9375Z" fill="white" fill-opacity="0.2"/><path d="M18.9977 4.9375L10.2109 19.2578L18.9977 15.332V4.9375Z" fill="rgb(30, 199, 251)"/><path d="M19 26.4438V33.5066L27.7914 21.3438L19 26.4438Z" fill="white" fill-opacity="0.2"/><path d="M18.9977 33.5066V26.4426L10.2109 21.3438L18.9977 33.5066Z" fill="rgb(30, 199, 251)"/><path d="M19 24.509L27.7855 19.4078L19 15.4844V24.509Z" fill="white" fill-opacity="0.6"/><path d="M10.2109 19.4078L18.9977 24.509V15.4844L10.2109 19.4078Z" fill="white" fill-opacity="0.2"/></svg>');
  }
  @if $symbol == 'usdt' {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 37.75C29.3553 37.75 37.75 29.3553 37.75 19C37.75 8.64466 29.3553 0.25 19 0.25C8.64466 0.25 0.25 8.64466 0.25 19C0.25 29.3553 8.64466 37.75 19 37.75Z" fill="rgb(25, 25, 25)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M20.9008 20.8328V20.8305C20.7719 20.8398 20.1074 20.8797 18.625 20.8797C17.4414 20.8797 16.6082 20.8445 16.3152 20.8305V20.834C11.759 20.6336 8.3582 19.8402 8.3582 18.891C8.3582 17.943 11.759 17.1496 16.3152 16.9457V20.0441C16.6129 20.0652 17.466 20.1156 18.6449 20.1156C20.0594 20.1156 20.7684 20.057 20.9008 20.0453V16.948C25.4477 17.1508 28.8402 17.9441 28.8402 18.891C28.8402 19.8402 25.4477 20.6312 20.9008 20.8328V20.8328ZM20.9008 16.6258V13.8531H27.2453V9.625H9.9707V13.8531H16.3152V16.6246C11.159 16.8613 7.28125 17.8832 7.28125 19.1066C7.28125 20.3301 11.159 21.3508 16.3152 21.5887V30.4738H20.9008V21.5863C26.0488 21.3496 29.9172 20.3289 29.9172 19.1066C29.9172 17.8844 26.0488 16.8637 20.9008 16.6258" fill="rgb(68, 255, 197)"/></svg>');
  }
  @if $symbol == 'xrp' {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.75 37.5C29.1053 37.5 37.5 29.1053 37.5 18.75C37.5 8.39466 29.1053 0 18.75 0C8.39466 0 0 8.39466 0 18.75C0 29.1053 8.39466 37.5 18.75 37.5Z" fill="rgb(25 25 25)"/><path d="M26.0599 21.888C25.1491 21.3649 24.1235 21.2133 23.1076 21.178C22.2552 21.1484 20.9835 20.605 20.9835 19.0626C20.9835 17.9133 21.92 16.9884 23.108 16.9472C24.1238 16.9119 25.1494 16.7601 26.0599 16.2371C26.8778 15.7674 27.557 15.0917 28.0292 14.2781C28.5014 13.4645 28.75 12.5415 28.75 11.602C28.75 10.6625 28.5014 9.73961 28.0292 8.92599C27.5569 8.11237 26.8778 7.43674 26.0599 6.967C25.242 6.49727 24.3142 6.24998 23.3697 6.25C22.4253 6.25002 21.4975 6.49734 20.6797 6.96711C19.8618 7.43687 19.1826 8.11253 18.7104 8.92617C18.2382 9.73981 17.9897 10.6628 17.9897 11.6023C17.9897 12.6392 18.3604 13.5935 18.8335 14.4785C19.2314 15.2229 19.4327 16.6045 18.0681 17.3882C17.053 17.9712 15.7861 17.6021 15.1533 16.5947C14.6188 15.7437 13.9736 14.9465 13.0702 14.4275C12.2523 13.9578 11.3246 13.7105 10.3801 13.7105C9.43573 13.7105 8.50796 13.9578 7.69007 14.4275C6.87219 14.8973 6.19301 15.5729 5.7208 16.3865C5.2486 17.2001 5 18.1231 5 19.0625C5 20.002 5.2486 20.9249 5.7208 21.7386C6.19301 22.5522 6.87219 23.2278 7.69007 23.6975C8.50796 24.1673 9.43573 24.4146 10.3801 24.4146C11.3246 24.4146 12.2523 24.1673 13.0702 23.6975C13.9733 23.1788 14.6186 22.382 15.1528 21.5316C15.5914 20.8333 16.6869 19.9432 18.068 20.737C19.0816 21.3196 19.3949 22.5959 18.833 23.6473C18.36 24.5322 17.9898 25.4862 17.9898 26.523C17.9898 27.4625 18.2384 28.3854 18.7106 29.199C19.1828 30.0126 19.8619 30.6882 20.6798 31.158C21.4977 31.6277 22.4254 31.875 23.3698 31.875C24.3142 31.875 25.242 31.6277 26.0599 31.158C26.8778 30.6882 27.5569 30.0126 28.0291 29.199C28.5013 28.3854 28.7499 27.4625 28.7499 26.523C28.7499 25.5835 28.5013 24.6606 28.0291 23.847C27.5569 23.0334 26.8778 22.3578 26.0599 21.888Z" fill="rgb(0 170 228)"/></svg>');
  }
  @if $symbol == 'trx' {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="rgb(239 0 39)"/><path d="M20.0925 9.0525L6.5625 6.5625L13.6828 24.48L23.6044 12.3919L20.0925 9.0525ZM19.875 10.1494L21.945 12.1172L16.2844 13.1419L19.875 10.1494ZM15.0544 12.9366L9.08812 7.98844L18.84 9.78281L15.0544 12.9366ZM14.6297 13.8122L13.6566 21.8559L8.41125 8.65313L14.6297 13.8113V13.8122ZM15.5297 14.2387L21.7987 13.1044L14.6081 21.8634L15.5297 14.2387Z" fill="white"/></svg>');
  }
  background-repeat: no-repeat;
  background-size: contain;
}

.coin {
  display: inline-block;
  vertical-align: middle;
  &-btc {
    @include coin('btc');
  }
  &-eth {
    @include coin('eth');
  }
  &-usdt {
    @include coin('usdt');
  }
  &-xrp {
    @include coin('xrp');
  }
  &-trx {
    @include coin('trx');
  }
}

@each $key, $value in $custom-colors {
  .bg {
    &-#{$key} {
      background-color: $value !important;
    }
  }

  .text {
    &-#{$key} {
      color: $value !important;
    }
  }
}

$space-base: 10px;
$space-xs: $space-base * 0.25;
$space-sm: $space-base * 0.5;
$space-md: $space-base;
$space-lg: $space-base * 1.5;
$space-xl: $space-base * 3;
$spaces: (
  'xs': $space-xs,
  'sm': $space-sm,
  'md': $space-md,
  'lg': $space-lg,
  'xl': $space-xl,
);

.spacing-x {
  > *:not(:first-child) {
    margin-left: $space-md;
  }
}

.spacing-y {
  > *:not(:first-child) {
    margin-top: $space-md;
  }
}

.spacing-x {
  @each $key, $value in $spaces {
    &-#{$key} {
      &:not(.reverse) {
        > *:not(:first-child) {
          margin-left: $value;
        }
      }

      &.reverse {
        > *:not(:first-child) {
          margin-right: $value;
        }
      }
    }
  }
}

.spacing-y {
  @each $key, $value in $spaces {
    &-#{$key} {
      &:not(.reverse) {
        > *:not(:first-child) {
          margin-top: $value / 2;
          margin-bottom: $value / 2;
        }
      }
    }
  }
}

@for $i from 0 to 51 {
  .fs {
    &-#{$i} {
      font-size: #{$i}px;
    }
  }

  .mt {
    &-#{$i} {
      margin-top: #{$i}px;
    }
  }
  .mb {
    &-#{$i} {
      margin-bottom: #{$i}px;
    }
  }
  .ml {
    &-#{$i} {
      margin-left: #{$i}px;
    }
  }
  .mr {
    &-#{$i} {
      margin-right: #{$i}px;
    }
  }
  .my {
    &-#{$i} {
      margin-top: #{$i}px;
      margin-bottom: #{$i}px;
    }
  }
  .mx {
    &-#{$i} {
      margin-left: #{$i}px;
      margin-right: #{$i}px;
    }
  }
  .ma {
    &-#{$i} {
      margin-top: #{$i}px;
      margin-bottom: #{$i}px;
      margin-left: #{$i}px;
      margin-right: #{$i}px;
    }
  }

  .pt {
    &-#{$i} {
      padding-top: #{$i}px;
    }
  }
  .pb {
    &-#{$i} {
      padding-bottom: #{$i}px;
    }
  }
  .pl {
    &-#{$i} {
      padding-left: #{$i}px;
    }
  }
  .pr {
    &-#{$i} {
      padding-right: #{$i}px;
    }
  }
  .py {
    &-#{$i} {
      padding-top: #{$i}px;
      padding-bottom: #{$i}px;
    }
  }
  .px {
    &-#{$i} {
      padding-left: #{$i}px;
      padding-right: #{$i}px;
    }
  }
  .pa {
    &-#{$i} {
      padding-top: #{$i}px;
      padding-bottom: #{$i}px;
      padding-left: #{$i}px;
      padding-right: #{$i}px;
    }
  }

  .br {
    &-#{$i} {
      border-radius: #{$i}px;
    }
  }

  .lh {
    &-#{$i} {
      line-height: #{$i}px;
    }
  }
}

.m-auto {
  margin: auto;
}

.glossy {
  &-left {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0) 30%,
      rgba(0, 0, 0, 0.12) 51%,
      rgba(0, 0, 0, 0.04)
    ) !important;
  }

  &-down {
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.12) 51%,
      rgba(0, 0, 0, 0.04)
    ) !important;
  }
}
